[submodule "HBestEngine/vendor/spdlog"]
	path = HBestEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "HBestEngine/vendor/GLFW"]
	path = HBestEngine/vendor/GLFW
	url = https://github.com/hls333555/glfw
[submodule "HBestEngine/vendor/imgui"]
	path = HBestEngine/vendor/imgui
	url = git@github.com:hls333555/imgui.git
[submodule "HBestEngine/vendor/glm"]
	path = HBestEngine/vendor/glm
	url = https://github.com/g-truc/glm
