[submodule "ZeoEngine/vendor/spdlog"]
	path = ZeoEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ZeoEngine/vendor/GLFW"]
	path = ZeoEngine/vendor/GLFW
	url = https://github.com/hls333555/glfw
[submodule "ZeoEngine/vendor/imgui"]
	path = ZeoEngine/vendor/imgui
	url = git@github.com:hls333555/imgui.git
[submodule "ZeoEngine/vendor/glm"]
	path = ZeoEngine/vendor/glm
	url = https://github.com/g-truc/glm
