[submodule "HBestEngine/vendor/spdlog"]
	path = HBestEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "HBestEngine/vendor/GLFW"]
	path = HBestEngine/vendor/GLFW
	url = https://github.com/hls333555/glfw
